<script>
    function DisplayHostList(self) {
        $(self).next().toggleClass('hide');
    }

    // 全选
    function CheckAll(self) {
        $(self).parent().find('ul :checkbox').prop('checked', $(self).prop('checked'));
        ShowCheckedHostCount();
    }

    // 选中的主机数
    function ShowCheckedHostCount() {
        var selected_host_count = $('#host_groups ul').find(':checked').length; //  lenght  计算长度
        //console.log(selected_host_count);
        $('#selected_hosts').text(selected_host_count); // 显示到页面上
        return selected_host_count
    }

    // 获取任务执行状态 并显示到页面
    function GetTaskResult(task_id, task_timeout) {
        console.log(task_id, task_timeout);
        // start get request
        $.getJSON("{% url 'get_task_result' %}", {'task_id': task_id}, function (callback) {

            console.log(callback);

            var result_ele = '';
            var all_task_finished = true;
            var finished_task_count = 0;        // 初始化任务数量
            $.each(callback, function (index, i) {    // 循环返回的信息
                // 拼接任务结果
                var p_ele = "<p>" + i.host_user_bind__host__hostname + "(" + i.host_user_bind__host__ip_addr + ")---" + i.status + "</p>";
                var res_ele = "<pre>" + i.result + "</pre>";
                console.log(i.result);

                var single_result = p_ele + res_ele;
                result_ele += single_result;

                // 检查子任务是否完成 check if ths sub task is  finished
                if (i.status == 3) {
                    all_task_finished = false;
                } else {
                    //task not finished yet 任务没有完成
                    finished_task_count += 1;
                }
            });  // end each

            // check if the task_time_count < task_timeout, otherwise it means ths task is timedout, setInterval function need to be cancelled
            if (task_timeout_counter < task_timeout) {
                // not timed out yet
                task_timeout_counter += 2;
            } else {
                // 将所有任务设置为完成，因为已经达到任务超时
                all_task_finished = true;// set all task to be finished ,because it 's already reached the global timeout

                /*******  超时提示框  *******/
                $.niftyNoty({
                    type: 'danger',
                    container: '#task_result_panel',
                    html: '<h4 class="alert-title">Task timed out!</h4> <p class="alert-message">The task has timed out!</p><div class="mar-top"><button type="button" class="btn btn-info" data-dismiss="noty">Close this notification</button></div>',
                    closeBtn: false
                });// end 超时提示
            }

            // 清空计时器
            if (all_task_finished) {
                clearInterval(result_timer);
                console.log('timmer canceled...');
            }

            console.log('result_ele', result_ele);

            $('#task_result').html(result_ele);    // 显示到页面
            // ser progress bar 设置进度条
            var total_finished_percent = parseInt(finished_task_count / callback.length * 100);
            $('#task_progress').text(total_finished_percent + "%");
            $('#task_progress').css("width", total_finished_percent + "%");

        }) // end getJson
    }


    function PostTask(task_type) {
        // 1. 验证主机列表,
        // 2. 提交任务到后台
        var selected_host_ids = [];
        var selected_host_eles = $('#host_groups ul').find(":checked"); // 获取选中的主机

        // 获取主机的 id
        $.each(selected_host_eles, function (idnex, ele) {
            selected_host_ids.push($(ele).val());
            //console.log($(ele).val());
        });
        console.log(selected_host_ids, selected_host_ids.length);

        if (selected_host_ids.length == 0) {    // 验证是否选中主句
            alert('No select Host!');
            return false
        }

        var cmd_text = $.trim($('#cmd').val());
        //console.log(cmd_text);

        if (cmd_text.length == 0) {
            alert('No input CMD!');
            return false
        }
        var task_data = {
            'task_type': task_type,
            'selected_host_ids': selected_host_ids,
            'cmd': cmd_text
        };
        // console.log(task_data);
        $.post('{% url 'multitask' %}', {
                'csrfmiddlewaretoken': "{{ csrf_token }}",
                'task_data': JSON.stringify(task_data)
            },
            function (callback) {
                console.log('callback', callback);   // task id
                var callback = JSON.parse(callback);

                GetTaskResult(callback.task_id, callback.timeout);
                task_timeout_counter = 0;
                result_timer = setInterval(function () {
                    GetTaskResult(callback.task_id, callback.timeout)
                }, 2000);
            })// end post
    }
</script>